### Exploratory Analysis on data linking demographics and financial status to credit history.

Dataset and explanation of dataset is available from [this Kaggle page](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

In [3]:
import sys
import pickle
import itertools
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import sklearn

Let's begin by loading our two dataframes.

In [12]:
with open("application_record.csv", "r") as app_data:
    app_df = pd.read_csv(app_data)

In [10]:
print(app_df)

             ID CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  CNT_CHILDREN  \
0       5008804           M            Y               Y             0
1       5008805           M            Y               Y             0
2       5008806           M            Y               Y             0
3       5008808           F            N               Y             0
4       5008809           F            N               Y             0
...         ...         ...          ...             ...           ...
438552  6840104           M            N               Y             0
438553  6840222           F            N               N             0
438554  6841878           F            N               N             0
438555  6842765           F            N               Y             0
438556  6842885           F            N               Y             0

        AMT_INCOME_TOTAL      NAME_INCOME_TYPE            NAME_EDUCATION_TYPE  \
0               427500.0               Working               Higher education
1               427500.0               Working               Higher education
2               112500.0               Working  Secondary / secondary special
3               270000.0  Commercial associate  Secondary / secondary special
4               270000.0  Commercial associate  Secondary / secondary special
...                  ...                   ...                            ...
438552          135000.0             Pensioner  Secondary / secondary special
438553          103500.0               Working  Secondary / secondary special
438554           54000.0  Commercial associate               Higher education
438555           72000.0             Pensioner  Secondary / secondary special
438556          121500.0               Working  Secondary / secondary special

          NAME_FAMILY_STATUS  NAME_HOUSING_TYPE  DAYS_BIRTH  DAYS_EMPLOYED  \
0             Civil marriage   Rented apartment      -12005          -4542
1             Civil marriage   Rented apartment      -12005          -4542
2                    Married  House / apartment      -21474          -1134
3       Single / not married  House / apartment      -19110          -3051
4       Single / not married  House / apartment      -19110          -3051
...                      ...                ...         ...            ...
438552             Separated  House / apartment      -22717         365243
438553  Single / not married  House / apartment      -15939          -3007
438554  Single / not married       With parents       -8169           -372
438555               Married  House / apartment      -21673         365243
438556               Married  House / apartment      -18858          -1201

        FLAG_MOBIL  FLAG_WORK_PHONE  FLAG_PHONE  FLAG_EMAIL OCCUPATION_TYPE  \
0                1                1           0           0             NaN
1                1                1           0           0             NaN
2                1                0           0           0  Security staff
3                1                0           1           1     Sales staff
4                1                0           1           1     Sales staff
...            ...              ...         ...         ...             ...
438552           1                0           0           0             NaN
438553           1                0           0           0        Laborers
438554           1                1           0           0     Sales staff
438555           1                0           0           0             NaN
438556           1                0           1           0     Sales staff

        CNT_FAM_MEMBERS
0                   2.0
1                   2.0
2                   2.0
3                   1.0
4                   1.0
...                 ...
438552              1.0
438553              1.0
438554              1.0
438555              2.0
438556              2.0

[438557 rows x 18 columns]

In [13]:
with open("credit_record.csv", "r") as credit_data:
    credit_df = pd.read_csv(credit_data)

In [14]:
print(credit_df)

              ID  MONTHS_BALANCE STATUS
0        5001711               0      X
1        5001711              -1      0
2        5001711              -2      0
3        5001711              -3      0
4        5001712               0      C
...          ...             ...    ...
1048570  5150487             -25      C
1048571  5150487             -26      C
1048572  5150487             -27      C
1048573  5150487             -28      C
1048574  5150487             -29      C

[1048575 rows x 3 columns]

Notice that the application data has duplicates, the ID key doesn't uniquely identify a customer. We need to address this by removing the duplicate data.