### Exploratory Analysis on data linking demographics and financial status to credit history.

Dataset and explanation of dataset is available from [this Kaggle page](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

In [3]:
import sys
import pickle
import itertools
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import sklearn

Let's begin by loading our two dataframes.

In [95]:
with open("application_record.csv", "r") as app_data:
    app_df = pd.read_csv(app_data)

In [130]:
print(app_df)

             ID CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  CNT_CHILDREN  \
0       5008804           M            Y               Y             0
1       5008805           M            Y               Y             0
2       5008806           M            Y               Y             0
3       5008808           F            N               Y             0
4       5008809           F            N               Y             0
...         ...         ...          ...             ...           ...
438552  6840104           M            N               Y             0
438553  6840222           F            N               N             0
438554  6841878           F            N               N             0
438555  6842765           F            N               Y             0
438556  6842885           F            N               Y             0

        AMT_INCOME_TOTAL      NAME_INCOME_TYPE            NAME_EDUCATION_TYPE  \
0               427500.0               Working               Higher education
1               427500.0               Working               Higher education
2               112500.0               Working  Secondary / secondary special
3               270000.0  Commercial associate  Secondary / secondary special
4               270000.0  Commercial associate  Secondary / secondary special
...                  ...                   ...                            ...
438552          135000.0             Pensioner  Secondary / secondary special
438553          103500.0               Working  Secondary / secondary special
438554           54000.0  Commercial associate               Higher education
438555           72000.0             Pensioner  Secondary / secondary special
438556          121500.0               Working  Secondary / secondary special

          NAME_FAMILY_STATUS  NAME_HOUSING_TYPE  DAYS_BIRTH  DAYS_EMPLOYED  \
0             Civil marriage   Rented apartment      -12005          -4542
1             Civil marriage   Rented apartment      -12005          -4542
2                    Married  House / apartment      -21474          -1134
3       Single / not married  House / apartment      -19110          -3051
4       Single / not married  House / apartment      -19110          -3051
...                      ...                ...         ...            ...
438552             Separated  House / apartment      -22717         365243
438553  Single / not married  House / apartment      -15939          -3007
438554  Single / not married       With parents       -8169           -372
438555               Married  House / apartment      -21673         365243
438556               Married  House / apartment      -18858          -1201

        FLAG_MOBIL  FLAG_WORK_PHONE  FLAG_PHONE  FLAG_EMAIL OCCUPATION_TYPE  \
0                1                1           0           0             NaN
1                1                1           0           0             NaN
2                1                0           0           0  Security staff
3                1                0           1           1     Sales staff
4                1                0           1           1     Sales staff
...            ...              ...         ...         ...             ...
438552           1                0           0           0             NaN
438553           1                0           0           0        Laborers
438554           1                1           0           0     Sales staff
438555           1                0           0           0             NaN
438556           1                0           1           0     Sales staff

        CNT_FAM_MEMBERS
0                   2.0
1                   2.0
2                   2.0
3                   1.0
4                   1.0
...                 ...
438552              1.0
438553              1.0
438554              1.0
438555              2.0
438556              2.0

[438557 rows x 18 columns]
438557

In [97]:
with open("credit_record.csv", "r") as credit_data:
    credit_df = pd.read_csv(credit_data)

In [98]:
print(credit_df)

              ID  MONTHS_BALANCE STATUS
0        5001711               0      X
1        5001711              -1      0
2        5001711              -2      0
3        5001711              -3      0
4        5001712               0      C
...          ...             ...    ...
1048570  5150487             -25      C
1048571  5150487             -26      C
1048572  5150487             -27      C
1048573  5150487             -28      C
1048574  5150487             -29      C

[1048575 rows x 3 columns]

Notice that the application data has duplicates, the ID key doesn't uniquely identify a customer. We need to address this by removing the duplicate data. We first create a function that takes an index and returns all duplicates below it in the dataframe, assuming contiguous duplicates. We also create a function that returns the next index that isn't a duplicate of the given one. This is mostly for testing purposes.

In [100]:
def DuplicateList(df, index, col_list):
    '''Parameters are a pandas dataframe, an index number and a list of column numbers. 
       Returns a list of all index values greater than the input index that have identical data under the given columns.
       Assumes the duplicated data in the dataframe is contiguous.'''
    
    Duplicates = []
    df_null = df.isnull()
    #Testing if the latest entry checked was a duplicate.
    is_Latest_Dupe = True
    for i in [x for x in df.index.values if x > index]:
        if is_Latest_Dupe:
            Dupe_Status = True
            for col in col_list:
                if df_null.iloc[index, col] and df_null.iloc[i, col]:
                    Dupe_Status=Dupe_Status
                else: 
                    Dupe_Status = Dupe_Status and (df.iloc[index, col]==df.iloc[i, col])
            if Dupe_Status:
                Duplicates.append(i)
            is_Latest_Dupe = is_Latest_Dupe and Dupe_Status
        elif not is_Latest_Dupe:
            break
    
    return Duplicates

Let's test this on some of the values we can see in our dataframe.

In [101]:
print(DuplicateList(df=app_df, index=0, col_list = range(1, len(app_df.columns.values))))

[1]

In [116]:
for i in [2, 3, 4, 438552, 438556]:
    print(DuplicateList(df=app_df, index=i, col_list = range(1, len(app_df.columns.values))))
print(DuplicateList(app_df, index=1315, col_list=range(1, len(app_df.columns.values))))
print(app_df.iloc[[1315, 1316],:])

[]
[4, 5, 6]
[5, 6]
[]
[]
[1316, 1317]
           ID CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  CNT_CHILDREN  \
1315  5010298           F            N               Y             0
1316  5010299           F            N               Y             0

      AMT_INCOME_TOTAL      NAME_INCOME_TYPE            NAME_EDUCATION_TYPE  \
1315          135000.0  Commercial associate  Secondary / secondary special
1316          135000.0  Commercial associate  Secondary / secondary special

     NAME_FAMILY_STATUS  NAME_HOUSING_TYPE  DAYS_BIRTH  DAYS_EMPLOYED  \
1315            Married  House / apartment      -14918          -1866
1316            Married  House / apartment      -14918          -1866

      FLAG_MOBIL  FLAG_WORK_PHONE  FLAG_PHONE  FLAG_EMAIL OCCUPATION_TYPE  \
1315           1                0           0           0     Sales staff
1316           1                0           0           0     Sales staff

      CNT_FAM_MEMBERS
1315              2.0
1316              2.0

In [148]:
def NextNonDuplicate(df, index, col_list):
    '''Arguments are a dataframe with contiguous duplicate data, an index value and list of columns to compare
        for duplication.
       Returns the index of the next datapoint that isn\'t a duplicate of the data at index.'''
    if index <0:
        index = len(df.index.values)+index
    if index >=len(df.index.values)-1:
        return None
    if not DuplicateList(df, index, col_list):
        return index + 1
    elif DuplicateList(df, index, col_list)[-1] >= len(df.index.values)-1:
        return None
    else:
        return DuplicateList(df, index, col_list)[-1]+1

We now use the drop_duplicates method in pandas to remove duplicates from app_df.

In [152]:
app_no_dupes = app_df.drop_duplicates(subset=app_df.columns.values.tolist()[1:])

In [153]:
print(app_no_dupes)

             ID CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  CNT_CHILDREN  \
0       5008804           M            Y               Y             0
2       5008806           M            Y               Y             0
3       5008808           F            N               Y             0
7       5008812           F            N               Y             0
10      5008815           M            Y               Y             0
...         ...         ...          ...             ...           ...
438541  6837707           M            N               Y             0
438545  6839651           F            N               Y             3
438547  6839917           F            N               Y             0
438552  6840104           M            N               Y             0
438553  6840222           F            N               N             0

        AMT_INCOME_TOTAL      NAME_INCOME_TYPE            NAME_EDUCATION_TYPE  \
0               427500.0               Working               Higher education
2               112500.0               Working  Secondary / secondary special
3               270000.0  Commercial associate  Secondary / secondary special
7               283500.0             Pensioner               Higher education
10              270000.0               Working               Higher education
...                  ...                   ...                            ...
438541          202500.0               Working               Higher education
438545           99000.0             Pensioner  Secondary / secondary special
438547          180000.0             Pensioner               Higher education
438552          135000.0             Pensioner  Secondary / secondary special
438553          103500.0               Working  Secondary / secondary special

          NAME_FAMILY_STATUS  NAME_HOUSING_TYPE  DAYS_BIRTH  DAYS_EMPLOYED  \
0             Civil marriage   Rented apartment      -12005          -4542
2                    Married  House / apartment      -21474          -1134
3       Single / not married  House / apartment      -19110          -3051
7                  Separated  House / apartment      -22464         365243
10                   Married  House / apartment      -16872           -769
...                      ...                ...         ...            ...
438541        Civil marriage  House / apartment      -13510          -2309
438545  Single / not married  House / apartment      -18832         365243
438547               Married  House / apartment      -10966          -2704
438552             Separated  House / apartment      -22717         365243
438553  Single / not married  House / apartment      -15939          -3007

        FLAG_MOBIL  FLAG_WORK_PHONE  FLAG_PHONE  FLAG_EMAIL OCCUPATION_TYPE  \
0                1                1           0           0             NaN
2                1                0           0           0  Security staff
3                1                0           1           1     Sales staff
7                1                0           0           0             NaN
10               1                1           1           1     Accountants
...            ...              ...         ...         ...             ...
438541           1                1           0           0        Laborers
438545           1                0           0           0             NaN
438547           1                0           0           0             NaN
438552           1                0           0           0             NaN
438553           1                0           0           0        Laborers

        CNT_FAM_MEMBERS
0                   2.0
2                   2.0
3                   1.0
7                   1.0
10                  2.0
...                 ...
438541              2.0
438545              1.0
438547              2.0
438552              1.0
438553              1.0

[90085 rows x 18 columns]

This has the pleasant side effect of cutting our data size by a factor of 5. This should make our modeling algorithms quite a bit faster.